# http://vimzone.pixelblaster.ro/content/vim-mode-for-the-readline
# Be 8 bit clean.
#set meta-flag on
#set input-meta on
#set output-meta on
#set convert-meta off
#
## mode in everything that uses readline
#set editing-mode vi
#set keymap vi


#set editing-mode vi
#set keymap vi-insert

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
#"\C-o": "\e-0eli "

# Cycle thru completions.
#"\C-a": menu-complete

# glob patterns without executing, eg: 'rm *x'
#"\C-e": glob-expand-word

# Vim style history search (Already Default)
#"\e[A": history-search-backward
#"\e[B": history-search-forward

#"\e[C": forward-char
#"\e[D": backward-char

# Two escapes clear command line. (Use C-c or \eC\eC instead)
#"\e\e": "\e0\C-ki"

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
#"\e-": "\C-p\C-a\M-f "

# Cycle thru completions.
#"\e/": menu-complete

# Case insensitive
#set show-all-if-ambiguous on
#set completion-ignore-case on
