# Whitelist of files and folders to be uploaded to github
# ! = allow
# * = everything in current dir
# ** = recursively allow everything in folder and subfolder
# *.ext = wildcard with extension

# Ignore everything
*

# NO sync yet
# no Calibre
# no centerim5
# no !keepass/.keepass/*.kdb
# no !pianobar
# no !purple
# no !pyload
# no !snippets
# no !surfraw/.config/surfraw/bookmarks
# no !vim/.vim/plugins
# no !vimwiki
# no !weechat
# no !zshrc/ohmyzsh
# no !xresources
# no !xresources/.Xresources
#!vim/.vim/autoload
#!vim/.vim/autoload/**
#!vim/.vim/bundle
#!vim/.vim/bundle/**
#!vim/.vim/view
#!vim/.vim/view/**
# ubooquity
# jdownloader
# add plugins? !vim/.vimrc
# git clone manually? !zshrc/.oh-my-zsh
# nzbget
# wegorc
# hintsrc
# wikimd


# Allowed Folders/Files
!.gitignore
!README.md

!aliasrc
!aliasrc/.aliasrc
!antimicro
!antimicro/.config
!antimicro/.config/*.amgp
!bashrc
!bashrc/.bashrc
!beets
!beets/.config
!beets/.config/beets
!beets/.config/beets/config.yaml
!cmus
!cmus/.cmus
!cmus/.cmus/*.theme
!cmus/.cmus/themes-screenshot
!cmus/.cmus/themes-screenshot/*.png
!custom_actions
!custom_actions/.custom_actions
!custom_actions/.custom_actions/**
!easystroke
!easystroke/.easystroke
!easystroke/.easystroke/**
!easytag
!easytag/.easytag
!easytag/.easytag/easytagrc
!emulationstation
!emulationstation/.emulationstation
!emulationstation/.emulationstation/*.cfg
!emulationstation/.emulationstation/themes
!emulationstation/.emulationstation/themes/**
!flexget
!flexget/.flexget
!flexget/.flexget/config.yml
!hex-a-hop
!hex-a-hop/**
!htop
!htop/**
!icons
!icons/**
!inputrc
!inputrc/.inputrc
!i3
!i3/**
!keepass
!keepass/.config
!keepass/.config/keepassc
!keepass/.config/keepassc/config
!keepass/.config/keepassx
!keepass/.config/keepassx/config.ini
!mcomix
!mcomix/.config
!mcomix/.config/mcomix
!mcomix/.config/mcomix/*.conf
!mutt
!mutt/.mutt
!mutt/.mutt/*.example
!mutt/.muttrc.example
!mpd
!mpd/.mpd
!mpd/.mpd/mpd.conf
!mplayer
!mplayer/.mplayer
!mplayer/.mplayer/config
!mpv
!mpv/.config
!mpv/.config/mpv
!mpv/.config/mpv/input.conf
!musicbrainz
!musicbrainz/.config
!musicbrainz/.config/MusicBrainz
!musicbrainz/.config/MusicBrainz/Picard.conf
!musicbrainz/.config/MusicBrainz/Picard
!musicbrainz/.config/MusicBrainz/Picard/plugins
!musicbrainz/.config/MusicBrainz/Picard/plugins/*.py
!nanorc
!nanorc/.nanorc
!newsbeuter
!newsbeuter/.newsbeuter
!newsbeuter/.newsbeuter/config
# !newsbeuter/.newsbeuter/urls
!newsbeuter/.newsbeuter/themes/*.theme
!ncmpcpp
!ncmpcpp/.ncmpcpp
!ncmpcpp/.ncmpcpp/config
!pastebinit
!pastebinit/.pastebinit.xml
!periscope
!periscope/.config
!periscope/.config/periscope
!periscope/.config/periscope/config
!portaddress
!portaddress/**
!pyradio
!pyradio/.pyradio.csv
!quicktile
!quicktile/.config
!quicktile/.config/quicktile.cfg
!retroarch
!retroarch/.config
!retroarch/.config/retroarch
!retroarch/.config/retroarch/*.cfg
!scripts
!scripts/**
!skippy-xd
!skippy-xd/.skippy-xd.rc
!soundeffects
!soundeffects/.soundeffects
!soundeffects/.soundeffects/*.ogg
!surfraw
!surfraw/.config
!surfraw/.config/surfraw
!surfraw/.config/surfraw/conf
!surfraw/.config/surfraw/elvi
!surfraw/.config/surfraw/elvi/*
!tmux
!tmux/.tmux.conf
!transmission
!transmission/.config
!transmission/.config/transmission-daemon
!transmission/.config/transmission-daemon/settings.json.example
!transmission/.config/transmission-daemon/blocklists
!transmission/.config/transmission-daemon/blocklists/*.bin
!transmission/.config/transmission-remote-cli
!transmission/.config/transmission-remote-cli/settings.cfg
!urlview
!urlview/.urlview
!vim
!vim/.vimrc
!vim/.vim
!vimwiki
!vimwiki/.vimwiki
!vimwiki/.vimwiki/wikimd
!vimwiki/.vimwiki/wikimd/*.md
!w3m
!w3m/.w3m
!w3m/.w3m/config
!w3m/.w3m/keymap
!yaourt
!yaourt/.yaourtrc
!zshrc
!zshrc/.zshrc


